<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>P2PSP - Crossroads</title>
  <link rel="stylesheet" type="text/css" href="base.css">
  <style type="text/css">
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
      outline: none;
    }

    #top-bar {
      background-color: #20e3b2;
      height: 10px;
    }

    #links a {
      margin: 0 15px;
    }

    thead tr {
      font-weight: bold;
    }
  </style>
</head>

<body>

<div id="top-bar"></div>

<nav class="clearfix display-block">
  <div id="logo" class="left margin-s display-inline-block">
    <span class="big">P2PSP</span>
    <mark class="small-caps">
      <a href="//p2psp.org">Peer to Peer Straight Forward Protocol</a>
    </mark>
  </div>
  <div id="links" class="right margin-xs display-inline-block">
    <a href="/">Home</a>
    <a href="/add">Add Channel</a>
    <a class="button button-black button-xs" href="//github.com/p2psp">Github</a>
  </div>
</nav>

<div class="container">
